.TodoPage {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.add-and-search-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.bti-title, .sb-title {
    line-height: 1em;
}

.block-task-input, .search-task {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-task-input input, .search-task input {
    margin-left: 10px;
    padding: 6px;
    border: 1px solid #6ab9fd;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    outline: none;
    font-size: 12px;
}

.search-task input {
    border-radius: 6px;
    width: 190px;
    padding-right: 20px;
}

.clear-input {
    position: relative;
}

.clear-input:after{
    content: "🞫";
    cursor: pointer;
    top: -12px;
    right: 2px;
    width: auto;
    height: auto;
    position: absolute;
    font-size: 17px;
}

.btn-new-task, .btn {
    padding: 3px 3px 4px 3px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #6ab9fd;
    border-radius: 0 6px 6px 0;
    box-sizing: border-box;
    border-left: none;
    background: #6ab9fd;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-new-task:hover, .btn:hover {
    background: #fff;
    color: #000;
}

.content {
    width: 800px;
    min-height: 500px;
    border: 4px solid #6ab9fd;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-list {
    border-right: 4px solid #6ab9fd;
    box-sizing: border-box;
    width: 25%;
    position: relative;
    min-width: 70px;
    max-width: 500px;
    flex-shrink: 0;
}

.todo-list ol {
    padding: 0;
}

.todo-list-title, .edit-task-title {
    text-align: center;
    margin: 10px 0 10px;
}

.edit-task {
    width: 75%;
}

.todo-item {
    margin: 0 0 6px;
    padding-left: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: decimal inside;
    text-indent: -1em;
    cursor: pointer;
    color: #808080;
}

.inProcess {
    color: #3386c2;
}

.completed {
    color: #20ff20;
}

.edit-block, .select-task-title {
    margin-left: 10px;
}

.edit-block p {
    margin: 0;
}

.rename {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

.rename input{
    padding: 6px;
    border: 1px solid #6ab9fd;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    outline: none;
    font-size: 12px;
}

.delete-btn, .change-status .btn {
    border: 1px solid #6ab9fd;
    border-radius: 6px;
    display: inline;
}

.change-status {
    display: flex;
    margin-bottom: 8px;
}

.inProcess-btn {
    margin-right: 6px;
}

.resizer {
    position: absolute;
    cursor: col-resize;
    height: 100%;
    right: -4px;
    top: 0;
    width: 4px;
}